<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Drop Password Check View</title>
</head>
<body>
	<div class="container">

		<h1 class="text-primary">Drop Password Check View</h1>
		<hr>

		<label>정말로 회원탈퇴 하시겠습니까? <br> 탈퇴하려면 비밀번호를 입력해주세요.
		</label> <br>
		<form action="" method="post">
			<input type="password" name="checkPw" placeholder="비밀번호를 입력해주세요.">
			<button type="submit" class="btn btn-danger" th:text="확인"></button>
			<hr>
			<button type="button" class="btn btn-warning" th:text="취소" th:onclick="history.back();"></button>
		</form>
	</div>
</body>
</html>