<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Id Pw Search View</title>
</head>
<body>
<div class="container">
	<h1 class="text-primary">Id Pw Search View</h1>
	<hr>
	<button class="btn btn-primary" type="button" th:onclick="location.href='/member/idSearch'">아이디 찾기</button>
	<button class="btn btn-primary" type="button" th:onclick="location.href='/member/pwSearch'">비밀번호 찾기</button>
</div>
</body>
</html>