<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Pw Search Complate View</title>
</head>
<div class="container">
	<body>
		<h1 class="text-primary">Pw Search Complate View</h1>
		<hr>
		<script type="text/javascript">
			/*<![CDATA[*/alert('회원님의 임시 비밀번호는 [[${password}]] 입니다.');/*]]>*/
			window.location.href = "/member/home";
		</script>
		<button class="btn btn-warning" type="button" th:text="Home"
			th:onclick="location.href='/member/home'"></button>
</div>
</body>
</html>