<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Notice Update View</title>
</head>
<body>
<div class="container">
	<h1>Notice Update View</h1>
	<hr>
	<form method="post" th:object="${notice}">
		<label>제목</label>
		<div>
			<input type="text" th:field="*{subject}">
		</div>
		<label>내용</label>
		<div>
			<textarea rows="25" cols="80" th:field="*{content}"></textarea>
		</div>
		<button type="submit" class="btn btn-success" th:text="수정"></button>
		<button type="button" class="btn btn-warning" th:text="취소"
			th:onclick="history.back();"></button>
	</form>
</div>
</body>
</html>